@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-green: #00b300;
  --secondary-green: #008000;
  --accent-blue: #1e90ff;
  --background-white: #f0f8ff;
  --sidebar-bg: #c5eac1; /* Light blue background */
  --sidebar-hover: #b3d9ff; /* Slightly darker blue for hover */
  --text-dark: #333333;
  --text-light: #ffffff;
  --reset-button: #EE3940;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-white);
  padding-top: 70px;
  padding-left: 250px;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: var(--primary-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0, 179, 0, 0.3);
  z-index: 1000;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navLeft a {
  color: var(--text-light) !important;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 25px;
  transition: all 0.3s ease;
}

.navLeft img {
  height: 3rem;
  margin-right: 2rem;
}
.navLeft a:hover {
  transform: translateY(-2px);
}

.navRight a {
  color: var(--secondary-green);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--text-light);
  transition: all 0.3s ease;
}

.navRight a:hover {
  background-color: var(--accent-blue);
  color: var(--text-light);
  box-shadow: 0 4px 8px rgba(30, 144, 255, 0.5);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 250px;
  height: calc(100vh - 70px);
  background-color: var(--sidebar-bg);
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid var(--secondary-green);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-link {
  display: block;
  color: var(--text-dark);
  text-decoration: none;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.section-link:hover {
  background-color: var(--primary-green);
  color: var(--text-dark);
  transform: translateX(5px);
}

/* Main Content */
.sections {
  margin: 2%;
  padding: 0; /* Remove padding here */
}

.section {
  background-color: var(--text-light);
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section > h2 {
  font-size: 2rem;
}

/* Additional styles for the timer */
#timer {
  text-align: center;
  margin-top: 20px;
}

.time {
  font-size: 4rem;
  font-weight: bold;
  color: var(--primary-green);
}

#startButton, #resetButton {
  background-color: var(--primary-green);
  color: var(--text-light);
  border: none;
  padding: 10px 20px;
  margin: 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2rem;
}

#startButton:hover, #resetButton:hover {
  background-color: var(--secondary-green);
}


.timerModes {
  margin-top: 1rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.timerModes > div.selected{
  border-radius: 20px;;
  background-color: var(--primary-green);
  color: var(--text-light);
  padding: 1rem;
}

.timerModes > div{
  border-radius: 20px;
  border: var(--primary-green) 2px solid;
  padding: 1rem;
  cursor: pointer;
}

.hidden {
  display: none;
}


/* Statistics Section */
#statistics {
  background-color: var(--text-light);
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

#statistics h2 {
  font-size: 2rem;
  color: var(--text-dark);
  text-align: center;
  margin-bottom: 20px;
}

#statistics .intro {
  text-align: center;
  color: var(--text-dark);
  margin-bottom: 30px;
}

.time-range-selector {
  text-align: center;
  margin-bottom: 20px;
}

#timeRange {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid var(--primary-green);
  background-color: var(--background-white);
  color: var(--text-dark);
}


.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.chart-wrapper {
  margin-bottom: 1rem;
  width: 48%;  /* Default width for larger screens */
  height: 40vh;  /* Default height */
}

#noPieDataMessage {
  width: 100%;
  text-align: center;
  color: var(--text-dark);
  font-style: italic;
}

@media (max-width: 980px) {
  .chart-container {
    flex-direction: column;
  }

  .chart-wrapper {
    width: 100% !important;
    height: 50vh !important;
  }
}

.fun-stats {
  flex: 1;
  background-color: var(--sidebar-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.fun-stats h3 {
  color: var(--text-dark);
  margin-bottom: 15px;
}

.fun-stats ul {
  list-style-type: none;
  padding: 0;
}

.fun-stats li {
  margin-bottom: 10px;
  color: var(--text-dark);
}

.stats-explanation {
  background-color: var(--background-white);
  padding: 20px;
  border-radius: 8px;
}

.stats-explanation h3 {
  color: var(--text-dark);
  margin-bottom: 15px;
}

.stats-explanation p {
  color: var(--text-dark);
  line-height: 1.6;
}

.clock-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.clock-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid var(--primary-green);
  border-radius: 50%;
  overflow: hidden;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-dark);
  z-index: 10;
}

.time:hover{
  cursor: url('pencilCursor.png'), auto;
}

@media (max-width: 768px) {
  .stats-container {
      flex-direction: column;
  }

  .chart-container,
  .fun-stats {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
  }
}


@media (max-width: 1024px) {
  .sidebar-toggle {
    display: block;
  }
}

.reloadStats {
  background: none;
  border: none;
  cursor: pointer;
}

.bottom-nav{
  display: none;
}

/* ... (previous CSS remains unchanged) ... */

.bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--sidebar-bg);
  padding: 5px;
  justify-content: space-around;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav a {
  color: var(--text-dark);
  text-decoration: none;
  font-size: 0.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  width: 100%;
}

.bottom-nav a i {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.bottom-nav a span {
  display: block;
  font-size: 0.6rem;
}

@media (max-width: 845px) {
  body {
    padding-left: 0;
    padding-bottom: 60px; /* Add padding for the bottom nav */
  }

  .sidebar {
    display: none !important;
  }

  .bottom-nav {
    display: flex;
    position: fixed;
  }

  .sections {
    display: block;
    margin-left: 0 !important;
    width: 100%; /* Changed from 830px to 100% for better responsiveness */
  }

  .content {
    width: 100%;
    padding: 0 10px;
  }

  .section {
    border-radius: 0;
    margin-bottom: 20px;
  }

  /* Adjust chart container for small screens */
  .chart-container {
    flex-direction: column;
  }

  .chart-wrapper {
    width: 100% !important;
    height: 40vh !important;
    margin-bottom: 20px;
  }

  .timerModes {
    margin-top: 1rem;
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
    align-items: center;
  }o
  
  .timerModes > div.selected{
    border-radius: 20px;;
    background-color: var(--primary-green);
    color: var(--text-light);
    padding: 20px !important;
  }
  
  .timerModes > div{
    border-radius: 20px;
    border: var(--primary-green) 2px solid;
    padding: 2px !important;
    cursor: pointer;
    font-size: 1.5rem !important;
    width: 30%;
    margin: 1%;
  }
}