@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: #6995D1;
  border-radius: 0 0 1rem 1rem;
}

.nav > div > a {
  text-decoration: none;
  color: black;
}

.navLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.navRight { 

  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #CF3A58;
  height: 2.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  text-align: center;
}