<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro-Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


    <style>
        body{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="nav">
        {% if current_user.is_authenticated %}
        <div class="navLeft">
            <img src="logo.html" alt="logo">
        </div>

        <div class="navRight">
            <a href="/dashboard">Dashboard</a>
        </div>
        {% else %}
        <div class="navLeft">
            <img src="logo.html" alt="logo">
            <a href="/pomodoro"> <h1>Pomodoro</h1> </a>
            <a href="/about"> <h1>About</h1> </a>
        </div>

        <div class="navRight">
            <a href="/login">Login / Signup</a>
        </div>
        {% endif %}
    </div>

    <div class="content">
        <div class="sidebar">
            {% if current_user.is_authenticated %}
                <a href="#pomodoro" class="section-link">Pomodoro</a>
                <a href="#about" class="section-link">About</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            {% endif %}
        </div>

        <div class="userContent">
            <div class="sections">
                <div id="pomodoro" class="section">
                    <h2>Pomodoro Timer</h2>
                    <div id="timer">
                        <div id="time">{{ preferences.pomodoro_duration }}:00</div>
                        <label>
                            Auto Start Timer:
                            <input type="checkbox" id="autoStartCheckbox" {% if preferences.auto_start %}checked{% endif %}>
                        </label>
                        <div id="timer-mode" class="timer-mode">Pomodoro Mode</div>
                        <button id="startButton" onclick="startTimer({{ preferences.pomodoro_duration }})">Start</button>
                        <button id="resetButton" onclick="resetTimer()" style="display: none;">Reset</button>
                    </div>
                </div>
    
                <div id="about" class="section">
                    <h2>About</h2>
                    <p>This is the about section.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
